.sidenav {
  height: 100%;
  width: 240px;
  padding: 0 0 83px 5px;
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
  display: inline-block;
  direction: ltr;
  color: #6C8796;
  width: 190px;
  padding-left: 30px;
  padding-bottom: 25px;
  padding-top: 15px;
}

.sidebar-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 21px;
  display: inline-block;
  direction: ltr;
  color: #12394F;
  padding-right: 20px;
}

mat-nav-list {
  width: 200px;
  margin-bottom: 50px;
  a {
    text-decoration: none;
    font-weight: 400;
    color: #3E484F;
    font-size: 14px;
  }
}

button {
    width: 80px;
    margin-left: 90px;
    font-weight: 450;
    font-size: 14px;
    color: red;
    height: 37px;
    i {
        margin-bottom: 5px;
        padding-right: 6px;;
        font-size: 18px;
        color: red;
    }
}
