<div fxLayout="row" fxLayoutAlign="space-between stretch" class="sidenav">
  <mat-nav-list>
    <i class="material-icons" style="font-size: 130px;">account_circle</i>
    <a mat-list-item href="#"><i class="sidebar-icons">person</i>Perfil</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="#"><i class="sidebar-icons">menu_book</i>Minhas Aulas</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="#"><i class="sidebar-icons">done_all</i>Notas e Presenças</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="#"><i class="sidebar-icons">list_alt</i>Histórico</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="#"><i class="sidebar-icons">school</i>Professores</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="#"><i class="sidebar-icons">forum</i>Fórum</a>
    <button mat-button id="bot-logout"><i class="sidebar-icons">power_settings_new</i>Sair</button>
  </mat-nav-list>
  <mat-divider [vertical]="true" style="margin-left: 10px;"></mat-divider>
</div>
